.esqueletoAxial{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    &__modelos{
        display: flex;
        gap: 32px;
        flex: .82;
    }
}